<h1>Places</h1>

<ul>
  <% for place in @places %>
    <p>
     <a href="/places/<%= place["id"] %>" class="btn btn-outline-info"><%= place["name"] %></a>
    </p>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="btn btn-primary">New Place</a>
</p>